.popup__input_type_error {
  border-bottom-color: red;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.form__input-error {
    min-height: 30px;
}

input {
    position: relative;
}

.popup__error_visible {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.21em;
    color: #f00;
}

.popup__button_disabled {
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0, .2);
    color: rgb(0, 0, 0, .2);
}